In [1]:
import pandas as pd

In [2]:
# Import vine_table.csv
df = pd.read_csv("vine_table.csv")
df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [3]:
# Filter vote count
better_df = df[df['total_votes'] > 20.0] 
better_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [5]:
# Filter again using helpful votes
helpful_df = better_df[better_df['helpful_votes']/better_df['total_votes']>= 0.5]
helpful_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [6]:
# Filter by vine purchase
paid_df = helpful_df[helpful_df['vine']=='Y']
paid_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4229,4229,R1R9RU7JW0MFR2,4.0,20.0,23.0,Y,N
9120,9120,R19EFYNN3W8Q07,5.0,26.0,32.0,Y,N
34704,34704,R34DJ1R8AEU0SG,5.0,29.0,35.0,Y,N
38510,38510,R25P5CXK5L9RHF,5.0,146.0,161.0,Y,N
49330,49330,R2E9VZB3I4LSN5,5.0,55.0,59.0,Y,N

In [8]:
# Filter for no vine purchase
unpaid_df = helpful_df[helpful_df['vine']=='N']
unpaid_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [9]:
# Number of reviews for verified purchases
reviews_vine= len(paid_df)
reviews_vine

59

In [10]:
# Number of 5 star reviews for verified purchases
five_star_vine = sum(paid_df.star_rating==5.0)
five_star_vine

34

In [11]:
# Percentage of 5 star reviews for verified purchases
percentage_five_star_vine = five_star_vine/reviews_vine * 100
percentage_five_star_vine

57.6271186440678

In [12]:
# Number of reviews for unverified purchases
reviews_unpaid = len(unpaid_df)
reviews_unpaid

13480

In [13]:
# Number of 5 star reviews for unverified purchases
five_star_unpaid = sum(unpaid_df.star_rating==5.0)
five_star_unpaid

7678

In [14]:
# Percentage of 5 star reviews for unverified purchases
percentage_five_star_unpaid = five_star_unpaid/reviews_unpaid * 100
percentage_five_star_unpaid

56.95845697329377