In [26]:
import pandas as pd

In [27]:
# Import vine_table.csv
df = pd.read_csv("vine_table.csv")
df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,0,RMDCHWD0Y5OZ9,3.0,0.0,1.0,N,N
1,1,RZSL0BALIYUNU,5.0,0.0,0.0,N,Y
2,2,RIZR67JKUDBI0,3.0,0.0,1.0,N,Y
3,3,R27HL570VNL85F,5.0,0.0,0.0,N,Y
4,4,R34EBU9QDWJ1GD,5.0,0.0,0.0,N,Y

In [28]:
# Filter vote count
better_df = df[df['total_votes'] > 20.0] 
better_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [29]:
# Filter again using helpful votes
helpful_df = better_df[better_df['helpful_votes']/df2['total_votes']>= 0.5]
helpful_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
85,85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1028,1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1039,1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y

In [30]:
# Filter by paid purchase
paid_df = helpful_df[helpful_df['verified_purchase']=='Y']
paid_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
85,85,R2TGT0CDTCAAHW,5.0,21.0,23.0,N,Y
457,457,RX4D22YSXEF4P,1.0,37.0,38.0,N,Y
1039,1039,R3QTP3YNZXAPPF,3.0,23.0,24.0,N,Y
1140,1140,R36V6V42VN5AS5,5.0,34.0,37.0,N,Y
2261,2261,R1P7GJ0IN2BRNH,5.0,37.0,37.0,N,Y

In [32]:
# Filter for unpaid purchase
unpaid_df = helpful_df[helpful_df['verified_purchase']=='N']
unpaid_df.head()

,Unnamed: 0,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
28,28,R2243Y3OD8U6KQ,5.0,47.0,61.0,N,N
1028,1028,R3FL2NTLFUSPTQ,5.0,33.0,37.0,N,N
1646,1646,R27LZWE27BJPOB,5.0,22.0,23.0,N,N
3333,3333,RFL3TJED8C240,5.0,13.0,24.0,N,N
3768,3768,R3JNDLZ3KACRLG,5.0,29.0,33.0,N,N

In [42]:
# Number of reviews for verified purchases
reviews_paid = len(paid_df)
reviews_paid

8016

In [43]:
# Number of 5 star reviews for verified purchases
five_star_paid = sum(paid_df.star_rating==5.0)
five_star_paid

4609

In [45]:
# Percentage of 5 star reviews for verified purchases
percentage_five_star_paid = five_star_paid/reviews_paid * 100
percentage_five_star_paid

57.49750499001996

In [46]:
# Number of reviews for unverified purchases
reviews_unpaid = len(unpaid_df)
reviews_unpaid

5523

In [47]:
# Number of 5 star reviews for unverified purchases
five_star_unpaid = sum(unpaid_df.star_rating==5.0)
five_star_unpaid

3103

In [48]:
# Percentage of 5 star reviews for unverified purchases
percentage_five_star_unpaid = five_star_unpaid/reviews_unpaid * 100
percentage_five_star_unpaid

56.18323374977368